body {
    margin: 0;
    padding: 0;
}

.notifice-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
    padding: 10px;
    color: #0b3a0b;
}

.notifice-container[data-position^='top-'] {
    top: 0;
}

.notifice-container[data-position$='-right'] {
    right: 0;
    align-items: flex-end;
}

.notifice-container[data-position^='bottom-'] {
    bottom: 0;
}

.notifice-container[data-position$='-left'] {
    left: 0;
}

.notifice-card {
    display: flex;
    position: relative;
    border: 1px solid;
    border-radius: .4rem;
    width: 350px;
    overflow: hidden;

}



.notifice-card p {
    display: grid;
    place-items: center;
    padding-left: 10px;
    height: 100%;
    width: max-content;
    font-size: 14px;
    font-weight: 700;
    font-family: monospace;
}


.notifice-card button {

    font-size: 26px;
    font-weight: bolder;
    border: none;
    border-left: 1px solid;
    width: 50px;
    cursor: pointer;
    margin-left: auto;
    color: inherit;
}